* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.parent {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template: auto 1fr auto / auto 1fr auto;
}

header, main, .left-sidebar, .right-sidebar, footer {
    font-size: 1.8rem;
    font-weight: bold;
}

header {
    grid-column: 1 / 4;
    background-color: yellow;
}

.left-sidebar {
    grid-column: 1 / 2;
    background-color: coral;
}

main {
    grid-column: 2 / 3;
    background-color: palevioletred;
}

.right-sidebar {
    grid-column: 3 / 4;
    background-color: greenyellow;
}

footer {
    grid-column: 1 / 4;
    background-color: cadetblue;
}
