* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.parent {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: minmax(150px, 25%) 1fr;
}

.sidebar, .element {
    display: grid;
    place-items: center;
    font-size: 1.2rem;
    font-weight: bold;
}

.sidebar {
    background-color: yellow;
}

.element {
    background-color: palevioletred;
}
